.box-post {
    display: flex;
    flex-wrap: wrap;
}
.header-title h2{
    font-family: 'Ranga', cursive;
    font-size: 2.5rem;
}
app-placeholder-post {
    width: 100%;
}
.showmore-area {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.fixed-action-btn {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: black !important;
    font-size: 0.8rem;
}
.blue {
    background-color: #1976D2;
    color: #fff;
}
.white {
    background-color: #fff;
    color: #1976D2;
}
