@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Monoton');

footer {
    background-color: #1585de;
}

h5 {
    font-family: 'Monoton', cursive;
}
h5 span {
    font-family: 'Kaushan Script', cursive;
    color: black;
}