<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Angular <span>Feed</span></h5>
          <p class="grey-text text-lighten-4">Prática com <a class="black-text" href="https://angular.io/">Angular</a> usando conexão entre componentes.
            Dados consumidos da API <a class="black-text" href="https://github.com/typicode/json-server#getting-started" target="blank">JSON Serve</a>.
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2018 Copyright
      <a class="grey-text text-lighten-4 right" href="github.com/FeliipeAC" target="blank">
        <i class="material-icons left">web</i>Felipe Andrade</a>
      </div>
    </div>
  </footer>