<div class="col s12 m12 card-box" [@fadeInOut]>
  <h3 class="header"> {{ post.title }} </h3>
  <div class="card horizontal">
    <div class="card-image">
      <img [src]="post.capa">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>{{ post.body }}</p>
      </div>
      <div class="card-action">
        <p> Posted by {{ post.user.name }}</p> 
          <a href="post/{{post.id}}" class="btn btn-small"><i class="material-icons right">navigate_next</i>Ver mais</a>
      </div>
    </div>
  </div>
</div>
