<div class="col s12 m12 card-box">
  <span class="header animated-background tt1"></span>
  <div class="card horizontal">
    <div class="card-image">
      <span class="animated-background tt2"></span>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <span class="animated-background tt3"></span>
      </div>
      <div class="card-action">
        <span class="animated-background tt4"></span> 
        <span class="animated-background tt5"></span>
      </div>
    </div>
  </div>
</div>