@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Monoton');
nav {
    background-color: #1585de;
    margin-bottom: 20px;
}
.nav-wrapper a {
    font-family: 'Monoton', cursive;
}
.nav-wrapper span {
    font-family: 'Kaushan Script', cursive;
    color: black;
}