
<div class="row" [@fadeInOut]>
  <div class="col s8 post-body" [@fadeInOut]>
    <img [src]="post.capa" class="responsive-img">
    <h2>{{ post.title }}</h2>
    <p>quia et suscipit suscipit recusandae consequuntur expedita et cum reprehenderit molestiae 
      ut ut quas totam nostrum rerum est autem sunt rem eveniet architecto</p>
      <div class="post-comments">
        <p>{{ comments.length}} {{ comments.length === 1 ? 'comentário' : 'comentários'}}</p>
        <app-comments *ngFor="let item of comments" [comment]="item" ></app-comments>
      </div>
    </div>
    <div class="col s4 post-user" [@fadeInOut]>
      <app-card-user [user]="post.user"></app-card-user>
    </div>
  </div>
  